<div class="container mt-5">
  <div class="form-area">
    <form #f = 'ngForm' (ngSubmit) = "onSubmit(f)">
  
      <div class="form-group">
        <label> First Name </label>
        <input 
          type="text" 
          placeholder="Full name" 
          class="form-control" 
          name = "fullName" 
          ngModel 
          #fullName='ngModel' 
          (change)="getValue(fullName.value)"
          required
          [ngClass] = "{'is-invalid' : fullName.touched && fullName.invalid }"
          minlength="5"
          maxlength="10"
          >

          <!-- Validation for Text Field -->
          <div *ngIf = "f.controls['fullName']?.errors?.['required']">
            <div class="alert alert-danger" *ngIf = 'fullName.touched && fullName.invalid'> Full Name is required... </div>
          </div>
          <div *ngIf="f.controls['fullName']?.errors?.['minlength']">
            <div class="alert alert-danger" *ngIf= "fullName.invalid && fullName.touched">Full name must be at least 5 characters long</div>
          </div>

          
      </div>
  
      <div class="form-group">
        <label> Email </label>
        <input 
        type="email" 
        placeholder="Email" 
        class="form-control" 
        name = "email" 
        ngModel
        #email = 'ngModel'
        pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
        required
        [ngClass] = "{'is-invalid' : email.touched && email.invalid }"
        >

        <!-- Validation for Email Field -->
        <div *ngIf = "f.controls['email']?.errors?.['required']">
          <div class="alert alert-danger" *ngIf = 'email.touched && email.invalid'> Email address is required... </div>
        </div>
        <div *ngIf= "f.controls['email']?.errors?.['pattern']">
          <div class="alert alert-danger" *ngIf= 'email.invalid && email.touched'>Invalid Email Address</div>
        </div>
      </div>
      
      <div class="form-group">
        <label> Address </label>
        <textarea 
          cols="30" 
          rows="10" 
          placeholder="Address" 
          class="form-control" 
          name = "address" 
          ngModel
          #address = 'ngModel'
          required
          [ngClass] = "{'is-invalid' : address.touched && address.invalid }" 
          ></textarea>

          <!-- Validation for TextArea Field -->
        <div *ngIf = "f.controls['address']?.errors?.['required']">
          <div class="alert alert-danger" *ngIf = 'address.touched && address.invalid'> Address is required... </div>
        </div>
      </div>
      
  
      <button type="Submit" class="btn btn-primary" [disabled] = "f.invalid">Submit</button>
  
    </form>
  </div>
</div>